$gz-color-primary: #53876c;
$gz-color-eggwhite: #fffef2;
$gz-color-lightyellow: #d7e291;
$gz-color-grey: #cbccc9;

.gz-color-primary {
    color: $gz-color-primary;
}

.gz-color-grey {
    color: $gz-color-grey;
}