.gz-fs-em-1 {
    font-size: 1em;
}

.gz-fs-em-1-5 {
    font-size: 1.5em;
}

.gz-fs-em-2 {
    font-size: 2em;
}

.gz-fs-em-3 {
    font-size: 3em;
}

.gz-ff-gill-sans {
    font-family: Gill Sans Extrabold, sans-serif;
}

.gz-fw-bold {
    font-weight: bold;
}